<section class="phx-hero">
  <h1>istrav channels</h1>
  <p>soft real-time communication channels powered by phoenix</p>
</section>

<section class="row">
  <article class="column">
    <h2>source code</h2>
    <ul>
      <li><a href="https://github.com/trabur/istrav-api">https://github.com/trabur/istrav-api</a></li>
      <li><a href="https://github.com/trabur/istrav-dashboard">https://github.com/trabur/istrav-dashboard</a></li>
      <li><a href="https://github.com/trabur/istrav-library">https://github.com/trabur/istrav-library</a></li>
      <li><a href="https://github.com/trabur/istrav-storefront">https://github.com/trabur/istrav-storefront</a></li>
      <li><a href="https://github.com/trabur/istrav-channels">https://github.com/trabur/istrav-channels</a></li>
    </ul>
  </article>
  <article class="column">
    <h2>production endpoints</h2>
    <ul>
      <li><a href="https://istrav.com">https://istrav.com</a></li>
      <li><a href="https://dashboard.istrav.com">https://dashboard.istrav.com</a></li>
      <li><a href="https://api.istrav.com">https://api.istrav.com</a></li>
      <li><a href="https://channels.istrav.com">https://channels.istrav.com</a></li>
    </ul>
  </article>
</section>
